<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MediaUnitTestProject.Properties.Settings.MediaDbConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\labs\Media\MediaClient\MediaDb.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMediaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:40586/MediaService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMediaService" contract="TestServiceReference.IMediaService"
                name="BasicHttpBinding_IMediaService" />
        </client>
    </system.serviceModel>
</configuration>