<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="MediaClient.Properties.Settings.MediaBdConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\MediaBd.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MediaClient.Properties.Settings.MediaDbConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\MediaDb.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MediaDbEntities" connectionString="metadata=res://*/MediaModel.csdl|res://*/MediaModel.ssdl|res://*/MediaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\MediaDb.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MediaDbEntities1" connectionString="metadata=res://*/MediaModel.csdl|res://*/MediaModel.ssdl|res://*/MediaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\MediaDb.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MediaDbEntities2" connectionString="metadata=res://*/MediaModel.csdl|res://*/MediaModel.ssdl|res://*/MediaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\MediaDb.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMediaService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:40586/MediaService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IMediaService" contract="MediaServiceReference.IMediaService"
        name="BasicHttpBinding_IMediaService" />
    </client>
  </system.serviceModel>
</configuration>